
body {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #373737;
}

h3 {
    position: relative;
    font-size: 20px;
    color: #f9f9f9;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 5px;
}
#form {
    position: relative;
}
#form #email, #pwd {
    width: 300px;
    background: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-style: 18px;
}
#form .inputEmail, .inputPwd {
    position: relative;
}

#text {
    display: block;
    color: #000;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
}

#form .inputEmail.invalid ::before{
    content: '';
    position: absolute;
    right: 12px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url("images/invalid.png");
    background-size: cover;
    z-index: 1000;
}

#form .inputEmail.valid ::before{
    content: '';
    position: absolute;
    right: 12px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url("images/valid.png");
    background-size: cover;
    z-index: 1000;
}

#form .inputPwd.invalid .inputPwd::before{
    content: '';
    position: absolute;
    right: 12px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url("images/invalid.png");
    background-size: cover;
    z-index: 1000;
}

#form .inputPwd.valid .inputPwd::before{
    content: '';
    position: absolute;
    right: 12px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url("images/valid.png");
    background-size: cover;
    z-index: 1000;
}